@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

body {
    margin: 0;
    overflow: hidden;
}

nav {
    height: 10vh;
    min-height: 50px;
    width: 100%;
    background-color: antiquewhite;
    display: grid;
    align-items: center;
    grid-template-columns:  1fr 3fr 1fr;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navBlock {
    justify-self: center;
    color: black;
    font-family: Parisienne, "Times New Roman";
    font-size: 8vh;
    font-weight: bold;
}

.homeLogo {
    height: 9vh;
    width: 9vh;
}

main {
    overflow-x: hidden;
    background-image: linear-gradient(white, black);
    margin-top: 11vh;
}

main p {
    text-align: center;
    font-size: 2em;
    margin: 5vw;
}

.registry-sites {
    height: 60vh;
    width: 100vw;
    display: flex;
}

.site {
    height: 100%;
    width: 33.33vw;
    position: relative;
}

.site a img {
    height: 40vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#az, #bbb, #cab {
    opacity: 0.5;
    transition: 0.5s opacity;
}

#az:hover {
    opacity: 1;
}

#bbb:hover {
    opacity: 1;
}

#cab:hover {
    opacity: 1;
}

/* Use a media query to add a breakpoint at 710px: */
@media screen and (max-width: 710px) {
    body {
        overflow: auto;
    }

    nav {
        height: 50px;
    }

    .navBlock {
        font-size: 1.75em;
    }

    .homeLogo {
        height: 45px;
        width: 45px;
    }

    .registry-sites {
        height: 120vh;
        flex-flow: column;
        align-items: center;
    }

    .site a img {
        height: 30vh;
    }

    #az, #bbb, #cab {
        opacity: 1;
    }
}