@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
}

nav {
    height: 10vh;
    min-height: 50px;
    width: 100%;
    background-color: antiquewhite;
    display: grid;
    align-items: center;
    grid-template-columns:  1fr 3fr 1fr;
    position: fixed;
    top: 0;
}

.navBlock {
    justify-self: center;
    color: black;
    font-family: Parisienne, "Times New Roman";
    font-size: 8vh;
    font-weight: bold;
}

.homeLogo {
    height: 9vh;
    width: 9vh;
}

.covid-policy {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 5vh;
}

.rsvp-form {
    width: 100vw;
    height: 90vh;
}

/* Use a media query to add a breakpoint at 710px: */
@media screen and (max-width: 710px) {
    nav {
        height: 50px;
    }

    .navBlock {
        font-size: 1.75em;
    }

    .homeLogo {
        height: 45px;
        width: 45px;
    }

    .covid-policy {
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
    }
}